.email-signIn-wrapper {
	width: 95%;
}
@media screen and (min-width: 800px) {
	.email-signIn-wrapper {
		/* background-color: green; */
		top: 40%;
		width: 60%;
	}
}
@media screen and (min-width: 1000px) {
	.email-signIn-wrapper {
		/* background-color: green; */
		width: 30rem;

		top: 50%;
	}
}
