.overflow-hidden {
	overflow: hidden;
}
.menu-btn {
	cursor: pointer;
}
.menu-btn img {
	width: 1.5rem !important;
}
.mobile-nav-wrapper {
	position: relative;
	height: 8vh;
}
.mobile-control-wrapper {
	position: relative;
	padding: 0 3rem;
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
	width: 100%;
	background-color: rgb(255, 255, 255);
	/* z-index: 11; */
}
.get-started {
	background-color: black;
	color: white;
	border-radius: 24px;
}
.mobile-nav {
	position: fixed;

	height: 100dvh;
	width: 100%;
	background-color: #ffb843;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.mobile-nav li {
	font-size: 3rem;
	margin: 0.3rem 0;
}

.logo-div img {
	width: 4rem;
}

.displayed-mobile-menu-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
}
.displayed-mobile-menu-wrapper .mobile-control-wrapper {
	background-color: transparent;
}
.displayed-mobile-menu-wrapper .mobile-control-wrapper img {
	width: 4rem;
}

.pc-nav-wrapper {
	background-color: white;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10rem;
}

.pc-nav-wrapper .link-wrapper {
	width: 60%;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	padding: 0;
	/* height: 4rem; */
}
.pc-nav-wrapper ul {
	display: flex;

	width: 100%;
	justify-content: center;
	padding: 0;
	justify-content: flex-end;
	align-items: center;
}
.pc-nav-wrapper ul li {
	margin-left: 3rem;
	/* padding: 1rem; */
	width: 10rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pc-nav-wrapper img {
	width: 6rem;
}
