:root {
	--oya-orange: #f9ca0d;
	--oya-black: #202020;
	--heading-font: "Inter Tight", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* overflow: hidden; */
	/* outline: 3px solid purple; */
}
li,
a {
	list-style-type: none;
	text-decoration: none;
	font-family: var(--heading-font);
}
h1,
h2,
h3 {
	font-family: var(--heading-font);
	font-weight: 700;
}
p {
	font-family: var(--heading-font);
	font-weight: 300;
}

header {
	height: 100vh;
	background-image: url("./assets/herobackground.png");
	/* background-attachment: fixed; */
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	/* padding-top: 1rem; */
}
/* .logo {
	height: 100%;
	background-color: gray;
} */
.logo img {
	width: 6rem;
	padding-top: 1.5rem;
	padding-left: 1.5rem;
}

.hero-container {
	/* background-color: red; */
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding-top: 3rem;
}

.hero-box {
	height: 50%;
	width: 100%;
}
.left-hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding-left: 3rem;
	padding-top: 4rem;
}

/* .left-hero-container h1 {
	margin: 1rem 0;
} */

.left-hero-container .bold-heading {
	font-size: 4rem;
}
.left-hero-link-container {
	/* background-color: blue; */
	display: flex;
	justify-content: flex-start;
	/* padding: 0 4rem; */
}

.left-hero-container h1 span {
	font-weight: bold;
	color: #323232;
	/* font-weight: 700; */
}
.left-hero-container h2 {
	font-weight: 400;
	font-size: 13px;
}
.left-hero-link-container {
	width: 20rem;
}
.left-hero-link-container .stores {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0;
	margin: 1rem 0;
	position: relative;
	/* background-color: red; */
	/* padding: 0.1rem; */
	width: 45%;
}

.left-hero-container .stores img {
	width: 8rem;
	padding: 0%;
	margin: 0;
}
.stores-right {
	/* background-color: indianred; */
}
.right-hero-container {
}
.right-hero-container img {
	width: 100%;
}

.tagline {
	font-weight: 900;
	/* font-size: 23px; */
	font-family: var(--heading-font);
	/* font-size: px; */
}
/* 

sections general style mobile 

 */

.section-one,
.section-two,
.section-three,
.section-four {
	padding: 2.5rem 2rem;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
