:root {
	--oya-orange: #f9ca0d;
	--oya-black: #202020;
	--heading-font: "Inter Tight", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 3px solid purple; */
}
li,
a {
	list-style-type: none;
	text-decoration: none;
	font-family: var(--heading-font);
}
h1,
h2,
h3 {
	font-family: var(--heading-font);
	font-weight: 700;
}
p {
	font-family: var(--heading-font);
	font-weight: 300;
}
.ham {
	width: 2rem;
	height: 2rem;
	/* background-color: white; */
	z-index: 4;
	position: fixed;
	right: 3rem;
	top: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* fl */
}
.bar-icon,
.x-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.bar-icon {
	background-image: url("./assets/icons/bars-solid.svg");
}
.x-icon {
	background-image: url("./assets/icons/x-solid.svg");
}
header {
	height: 100vh;

	background-image: url("./assets/herobackground.png");
	/* background-attachment: fixed; */
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	/* padding-top: 1rem; */
}
/* .logo {
	height: 100%;
	background-color: gray;
} */
.logo img {
	width: 6rem;
	padding-top: 1.5rem;
	padding-left: 1.5rem;
}

nav {
	background-color: white;
	height: 10%;
	position: fixed;
	z-index: 3;
	/* height: 100vh; */
	width: 100%;

	/* flex-shrink: 0; */
}
.nav-link-container {
	width: 60%;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: var(--oya-orange);
	position: fixed;
	bottom: 0;
	/* margin-left: auto; */
	right: 0;
	z-index: 1;
	overflow: hidden;
	transform: translate(300px);
}
.nav-link-container .links-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;

	/* position: relative; */
	/* justify-content: space-around; */
	width: 100%;

	font-size: 1.3rem;
}
.nav-link-container .links-wrapper li {
	min-height: 48px;
	padding: 17px 26.69px 17px 26px;
}
.link-active {
	background-color: #ffdd1a;
	border-radius: 9999px;
}

.hero-container {
	/* background-color: red; */
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding-top: 3rem;
}

.hero-box {
	height: 50%;
	width: 100%;
}
.left-hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding-left: 3rem;
	padding-top: 4rem;
}

/* .left-hero-container h1 {
	margin: 1rem 0;
} */
.left-hero-container h1 .express {
	font-size: 3.2rem;
	font-weight: 400;
	color: #323232;
}

.left-hero-container .bold-heading {
	font-size: 4rem;
}
.left-hero-link-container {
	/* background-color: blue; */
	display: flex;
	justify-content: flex-start;
	/* padding: 0 4rem; */
}

.left-hero-container h1 span {
	font-weight: bold;
	color: #323232;
	font-weight: 700;
}
.left-hero-container h2 {
	font-weight: 400;
	font-size: 13px;
}
.left-hero-link-container {
	width: 20rem;
}
.left-hero-link-container .stores {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0;
	margin: 1rem 0;
	position: relative;
	/* background-color: red; */
	/* padding: 0.1rem; */
	width: 45%;
}

.left-hero-container .stores img {
	width: 8rem;
	padding: 0%;
	margin: 0;
}
.stores-right {
	/* background-color: indianred; */
}
.right-hero-container {
}
.right-hero-container img {
	width: 100%;
}

.tagline {
	font-weight: 900;
	/* font-size: 23px; */
	font-family: var(--heading-font);
	/* font-size: px; */
}
/* 

sections general style mobile 

 */

.section-one,
.section-two,
.section-three,
.section-four {
	padding: 2.5rem 2rem;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
